#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    padding-left: 5px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    border:none;
    margin-bottom: 0;
    box-shadow: none !important;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #1abc9c;
}

.search-query:focus + button {
    z-index: 3;   
}