<!DOCTYPE html>
<html lang="en" ng-app="toolApp"  ng-controller="AppCtrl">
<head>
	<title>Hero Image Creator | A SMedian Publishing Tool</title>
	<!-- for Google -->
	<meta name="description" content="A tool by SMedian.com for publishers to create quick hero images for their publication articles." />
	<meta name="keywords" content="SMedian Publishing Tools, SMedian, Publishing, Tools, Publishing Tools, Hero Image, SMedian.com, SMedian Hero Image Tool, Image creator, Overlay Creator" />

	<meta name="author" content="Lincoln W Daniel" />
	<meta name="copyright" content="Lincoln W Daniel" />
	<meta name="application-name" content="Hero Image Creator" />

	<!-- for Facebook -->          
	<meta property="og:title" content="Hero Image Creator | A SMedian Publishing Tool" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="img/logo.png" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="A tool by SMedian.com for publishers to create quick hero images for their publication articles." />

	<!-- for Twitter -->          
	<meta name="twitter:card" content="A tool by SMedian.com for publishers to create quick hero images for their publication articles." />
	<meta name="twitter:title" content="Hero Image Creator | A SMedian Publishing Tool" />
	<meta name="twitter:description" content="A tool by SMedian.com for publishers to create quick hero images for their publication articles." />
	<meta name="twitter:image" content="img/logo.png" />

	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Angular lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <!--====https://github.com/rstacruz/nprogress=====-->
	<script src="js/libs/nprogress/nprogress.js"></script>

	<script src="js/main.js"></script>
	<script src="js/main-jqueries.js"></script>
	<script src="js/mainUtils.js"></script>
	
	<!--======MASONRY=====-->
	<!--[if lte IE 9]>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<![endif]-->
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>
	<div ng-include="'views/parts/nav/top-main.html'"></div>
	<!--<div class="col-md-12 mobile-only" style="background-color:#fff; position: fixed; top: 0px; z-index: 9999; width: 100%; height: 100%; overflow-y: overlay; padding-bottom: 100px; padding-left: 10px;">
		<div ng-include="'views/parts/nav/top-main.html'"></div>
		<div class="container" style="padding-top:10%; text-align:center;">
			<img src="img/icon_traffic-light.svg" style="width:33%">
			<h2 class="ct-warning">Not Accessible Via Mobile Devices</h2>
			<p>
				This website is not optimized for use on mobile screens.
			</p>
			<p>
				Please visit this webiste on your laptop or desktop. 
			</p>
		</div>
	</div>-->

	<div ng-include="'views/parts/form/image-search.html'"></div>
	<div ng-include="'views/parts/image-uploads.html'"></div>

	<table id="table-editor" style="width:100%">
		<tr class="container-editor">
			<td style="width:20%; background: #272c33; color:#fff; padding:10px; vertical-align: top; position:fixed">
				<div class="js-baseImageContainer js-scrollToBaseImagePane">
					<a class="link" style="color:#fff"><h3>Base Image</h3></a>
					<div class="js-baseImageChoiceControls">
						<button class="js-clickToUploadBaseImage btn btn-primary btn-block button-panel" 
							style="background:white; color:#0C132B; text-align:left" title="Upload an image from your computer">
							<span class="glyphicon glyphicon-upload pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Upload Image
						</button>
						<div class="js-existingImageUploadsButtonContainer"  style="margin-top:20px; display:none">
							<button class="btn btn-primary btn-block button-panel" style="background:white; color:#0C132B; text-align:left" 
								title="Show existing image uploads" ng-click="openImageUploadsWindowForType('base')">
								<span class="glyphicon glyphicon-upload pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Existing Uploads
							</button>
						</div>
						<div id="custom-search-input" ng-click="openImageSearchFormForType('base')">
                            <div class="input-group">
                                <input type="text" class="js-baseImageSearchInput search-query form-control" placeholder="Search stock images ..." />
                                <span class="input-group-btn">
                                    <button class="js-baseImageSearchButton btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
						</div>
					</div>
					<div class="js-baseImageControls" style="display:none">
						<div>
							<button id="edit-base-image-button" class="js-editBaseImageButton btn btn-primary btn-block button-panel" style="text-align:left;">
								<span class="glyphicon glyphicon-pencil pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Edit Image
							</button>
						</div>
						<div>
							<button class="js-resetBaseImageButton btn btn-warning btn-block button-panel" style="text-align:left; display:none">
								<span class="glyphicon glyphicon-repeat pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Undo Edits
							</button>
						</div>
						<div >
							<button class="js-clearBaseImageButton btn btn-danger btn-block button-panel" title="Clear Current Image to Start Over" style="text-align:left;">
								<span class="glyphicon glyphicon-remove pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> New Image
							</button>
						</div>
						<div>
							<button class="js-downloadBaseImageButton btn btn-block button-panel" title="Clear Current Image to Start Over" style="text-align:left; display:none">
								<span class="glyphicon glyphicon-download pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Download
							</button>
						</div>
					</div>
				</div>
				<div class="js-overlayImageContainer js-scrollToOverlayImagePane" style="margin-top:30px; display:none">
					<a class="link" style="color:#fff"><h3>Overlay Image</h3></a>
					<div class="js-overlayImageChoiceControls">
						<button class="js-clickToUploadOverlayImage btn btn-primary btn-block button-panel" style="background:white; color:#0C132B; text-align:left;">
							<span class="glyphicon glyphicon-upload pull-left" style="margin-right: 5px;" aria-hidden="true"></span> Upload Image
						</button>
						<div class="js-existingImageUploadsButtonContainer"  style="margin-top:20px; display:none">
							<button class="btn btn-primary btn-block button-panel" style="background:white; color:#0C132B; text-align:left" 
								title="Show existing image uploads" ng-click="openImageUploadsWindowForType('overlay')">
								<span class="glyphicon glyphicon-upload pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Existing Uploads
							</button>
						</div>
						<div id="custom-search-input" ng-click="openImageSearchFormForType('overlay')">
                            <div class="input-group">
                                <input type="text" class="js-overlayImageSearchInput search-query form-control" placeholder="Search stock images ..." />
                                <span class="input-group-btn">
                                    <button class="js-overlayImageSearchButton btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
						</div>
						<div class="js-overlayImageSearchResultsContainer" style="height:100%;">
							<div class="js-overlayImageSearchResults" style="height:50px; overflow-y:scroll"></div>
							<button class="js-overlayImageSearchLoadMoreButton clean-button clean-button--solid-white" style="display:none">Load More</button>
						</div>
					</div>

					<div class="js-overlayImageControls" style="display:none">
						<div>
							<button class="js-editOverlayImageButton btn btn-primary btn-block button-panel" style="text-align:left;">
								<span class="glyphicon glyphicon-pencil pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Edit Image
							</button>
						</div>
						<div>
							<button class="js-resetOverlayImageButton btn btn-warning btn-block button-panel" style="text-align:left; display: none">
								<span class="glyphicon glyphicon-repeat pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Undo Edits
							</button>
						</div>
						<div >
							<button class="js-clearOverlayImageButton btn btn-danger btn-block button-panel" title="Clear Current Image to Start Over" style="text-align:left;">
								<span class="glyphicon glyphicon-remove pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> New Image
							</button>
						</div>
						<div>
							<button class="js-downloadOverlayImageButton btn btn-block button-panel" title="Clear Current Image to Start Over" style="text-align:left; display:none">
								<span class="glyphicon glyphicon-download pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Download
							</button>
						</div>
					</div>
				</div>

				<div class="js-mergedImageContainer js-scrollToMergedImagePane" style="margin-top:30px;">
					<a class="link" style="color:#fff"><h3>Final Merged Image</h3></a>

					<p class="clean-text ct-white text-t" style="margin-bottom:10px">This will update automatically as you edit your base and overlay images.</p>
					<div class="js-mergedImageControls" style="display:none">
						<div class="js-mergedImageControlOverlayContainer" style="margin-top:20px; margin-bottom:20px; display: none">
							<p class="clean-text" style="color:#fff">Overlay Opacity</p>
							<input type="range" min="0.1" max="0.96" step="0.05" value="0.5" data-orientation="horizontal" 
								ng-model="mergeImageOpacity" ng-change="updateMergedImageOverlayOpacity()">
						</div>
						<div>
							<button class="js-editMergedImageButton btn btn-primary btn-block button-panel" style="text-align:left;">
								<span class="glyphicon glyphicon-pencil pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Edit Image
							</button>
						</div>
						<div>
							<button class="js-resetMergedImageButton btn btn-warning btn-block button-panel" style="text-align:left; display: none">
								<span class="glyphicon glyphicon-repeat pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Undo Edits
							</button>
						</div>
						<div>
							<button class="js-downloadMergedImageButton btn btn-success btn-block button-panel" title="Clear Current Image to Start Over" style="text-align:left;">
								<span class="glyphicon glyphicon-download pull-left" style="margin-right: 5px;"  aria-hidden="true"></span> Download Image
							</button>
						</div>
					</div>
				</div>
			</td>

			<td class="container" style="width:80%; vertical-align: top; padding-bottom:30px">
				<div>
					<h2 class="text-m">Create Quick Hero Images for Your Articles</h2>
					<p class="text-s">
						We have powerful editing tools to make it easy and fun.
					</p>
					<p class="clean-text" style="max-width:60%">
						Choose a base image to edit from your computer or search free stock photos. You can then add an overlay image. If you add an overlay image, you'll need to scroll down to see the final image. Once you are done, download your image to your computer.
					</p>
					<p class="clean-text" ng-bind="numActiveClients"></p>
				</div>
				<div class="js-baseImageEditorPane">
					<h3>Base Image <span class="js-baseImageWithOverlayMark clean-text text-s" style="display:none">With Overlay</span></h3>
					<input class="js-clickToUploadBaseImageInput" style="display:none" type="file">
					<div id="drop-area" class="js-baseImageDropArea clickable">
						<p>Drop your base image here!</p>
						<p>(or click to upload)</p>
					</div>
					<img id="editable-base-image" class="js-baseImageToEdit img-responsive">
				</div>
				<div class="js-overlayImageEditorPane" style="margin-top:50px; display:none">
					<h3>Overlay Image</h3>
					<input class="js-clickToUploadOverlayImageInput" style="display:none" type="file">
					<div id="drop-area" class="js-overlayImageDropArea clickable">
						<p>Drop your overlay image here!</p>
						<p>(or click to upload)</p>
					</div>
					<img id="editable-overlay-image" class="js-overlayImageToEdit img-responsive">
				</div>
				
				
				<div class="js-mergedImageEditorPane" style="margin-top:50px;">
					<h3>Final Merged Image</h3>
					<img id="merged-image-to-edit" src="img/loading_post.png" class="js-mergedImageToEdit img-responsive" style="display:none">
					
					<div id="merged-image-creation-canvas" class="js-mergedImageCreationCanvas" style="position:relative; width:500px; height:500px">
						<img id='image-upload' class="js-mergeImageBase img-responsive" src="img/loading_post.png"/>
						<img class="js-mergeImageOverlay image-overlay img-responsive" style="opacity:0.5" src=""/>
					</div>
				</div>
			</td>
		</tr>

	</table> <!-- end .row -->


	<div id="more-info-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">How Do I Use This?</h4>
	      		</div>

	      		<div class="modal-body">
					<h3>Create Quick Header Image for Your Article</h3>
					<ol>
						<li>Start by choosing a base image and editing it as desired.</li>
						<li>
							Don't Want to Overlay Another Image?
							<ul>
								<li>You're done! Click Download.</li>
							</ul>
						</li>
						<li>
							Want to Overlay Another Image?
							<ol>
								<li>Choose an overlay image and edit it as desired.</li>
								<li>Click the <b>Merge Images</b> button to overlay your overlay image over your base image.</li>
								<li>Choose an opacity for your overlay image.</li>
								<li>Scroll down and download the finished merged image.</li>
							</ol>
						</li>
					</ol>
	      		</div>

	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    	</div>

	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<button id="show-final-image-modal" type="button" style="display:none; visibility: hidden;" data-toggle="modal" data-target="#myModal"></button>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content clean-container">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title heading">Right Click to Save Picture If Download Fails</h4>
				</div>
				<div class="modal-body">
					<p>
					Right click the image below and click "Save Image As" to save it.
					</p>
					<div id="final-image-canvas" class="container clean-text"
					style="border-top:1px solid #e5e5e5; padding-top:10px">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="clean-button" data-dismiss="modal">Sounds Good</button>
				</div>
			</div>

		</div>
	</div>
	
	
	<script type="text/javascript" src="node_modules/bootstrap/js/modal.js"></script>
	<script type="text/javascript" src="node_modules/rangeslider.js/dist/rangeslider.min.js"></script>
	<script type="text/javascript" src="https://dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js"></script>
	<script type="text/javascript" src="js/libs/creativeSDK/config.js"></script>
	<script type="text/javascript" src="js/UnsplashSearchHandler.js"></script>
	
	<!--======= image editing =========-->
	<script src="/js/libs/html2canvas.js"></script>
    <script src="/js/libs/FileSaver.js"></script>
	<script type="text/javascript" src="js/tool.js"></script>

	<!--http://socket.io/ Needed for angular-socket-io to work-->
    <script src="/js/libs/socket-io/socket.io-1.4.5.js"></script>
    <!--https://github.com/krimple/angular-socketio-chat/tree/master/angular-frontend/app/bower_components/angular-socket-io && https://github.com/btford/angular-socket-io-->
    <script src="/js/libs/angular-socket-io/socket.js"></script>

    <!-- ================= END ANGULAR APP DEPENDENDCIES ================== -->
    <!-- ================= END ANGULAR APP DEPENDENDCIES ================== -->

    <!-- ================= START ANGULAR APP SCRIPTS ================== -->
    <!-- ================= START ANGULAR APP SCRIPTS ================== -->

    <!--APP-->
    <script src="/js/app/app.js"></script>
    <!--APP CONTROLLERS-->
	<script src="/js/app/controllers/app-ctrl.js"></script>
	<!--APP SERVICES-->
    <script src="/js/app/services/ioSocketService.js"></script>
    <!-- ================= END ANGULAR APP SCRIPTS ================== -->
    <!-- ================= END ANGULAR APP SCRIPTS ================== -->
</body>
</html>