<style>
    .masonry-grid { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.masonry-grid-item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
</style>
<div ng-show="imageSearchFormIsOpen" id="add-new-item-form" class="col-md-12 u-borderBottom u-backgroundGrayLightest" 
    style="background:#fff; position: fixed; top: 0px; z-index: 99999; width: 100%; height: 100%; overflow-y: overlay; padding-bottom: 100px; padding-left: 10px;">
    <div id="new-item-action-buttons" style="border-bottom: 1px solid rgba(0,0,0,.05); background:#fff; color: white;
        padding-top: 10px; top: 0; position: fixed; left: 0; width: 100%; text-align: center; z-index: 9999;">
        <table class="col-md-12 container" style="padding-top:5px; padding-bottom:5px;">
            <tr>
                <td class="col-md-3">
                    <button class="clean-button clean-button--plain" ng-click="closeImageSearchForm()">
                        <img class="u-size16x16" style="margin-top: -3px;" src="/img/icon_arrow_left.svg"/>
                        <span>Back to Editor</span>
                    </button>
                </td>
                <td id="custom-search-input" class="col-md-6" style="max-width:850px">
                    <div class="input-group" style="border-right: 1px solid rgba(0,0,0,.05);">
                        <input type="text" class="js-imageSearchInput clean-input search-query form-control" style="glow:none; border:none; outline:none" placeholder="Search stock images ..." 
                        ng-model="currentImageSearchKeywords" ng-change="searchImage(true)" autofocus/>
                        <span class="input-group-btn">
                            <button class="js-imageSearchButton btn btn-danger" type="button" ng-click="searchImage()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="clean-text">
                    <h6>{{currentImageSearchType.substring(0,1).toUpperCase() + currentImageSearchType.substring(1)}} Image</h6>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="container" style="padding-top:10px; max-width:850px; margin-top:90px;">
        <ul style="list-style: none;">
            <li>
                <h2>
                    Search Free Stock Images
                    <p class="clean-text card-description">
                        Search for a free stock image to use as your {{currentImageSearchType}} image.
                    </p>
                </h2>
            </li>
            <li style="margin-top:20px">
                <div class="js-imageSearchResults">
                    <div class="js-collectionResultsList masonry-grid">
                        <div class="js-imageSearchResultLI masonry-grid-item" style="" ng-repeat="image in imageSearchResultsTypeMap[currentImageSearchType]">
                            <img ng-src="{{image.thumbUrl}}" data-regular-url="{{image.url}}" ng-click="handleSelectSearchResultImageForType(image)"/>
                            <a class="link text-t1 u-colorLightGrey" style="display:block; padding:5px 0px 5px 0px; background: #fff" href="https://unsplash.com/'+image.user.handle+'?utm_source=SMedianHeroImage&utm_medium=referral&utm_campaign=api-credit">
                                {{image.user.name}} / Unsplash
                            </a>
                        </div>
                    </div>
                </div>
                <button class="js-imageSearchLoadMoreButton clean-button clean-button--plain ct-l-green" style="margin-right:5px"
                    ng-show="getCurrentSearchHandler().hasResults()" ng-click="searchImage()">
                    <span class="ct-l-green">Load More</span>
                </button>
            </li>
        </ul>
    </div>
</div>