<div class="row" style="background:#000; color: #fff">
    <div style="padding:20px">
        <div class="col-md-3">
            <a href="//smedian.com">
                <img src="http://smedian.com/img/logo.png" style="display:inline; width:48px; margin-top: -15px;"/>
            </a>
            <div style="display:inline-block;">
                <h1 class="heading" style="display:inline; margin-top:20px; color:#fff">Hero Image Creator</h1>
                <a href="//smedian.com" target="_blank" class="clean-text text-s link" style="display:block">A SMedian Publishing Tool</a>
            </div>
            
        </div>
        <div class="col-md-4">
            <button id="about-this-demo-button" data-toggle="modal" data-target="#more-info-modal" class="clean-button clean-button--link" style="color:#fff">
                Help
            </button>
            <button class="js-downloadMergedImageButton clean-button clean-button--link" style="color:#fff; display:none">
                Download Final Image
            </button>
        </div>
    </div>
</div>